<img src = "https://escp.eu/sites/default/files/logo/ESCP-logo-white-misalign.svg" width = 400 style="background-color: #240085;">
<h1 align=center><font size = 6>ESCP Business School</font></h1>
<h3 align=center><font size = 5>SCOR Datathon</font><br/>
<font size = 3>The Data Science Challenge Bridging Indian Agricultureal Protection Gap</font></h3>
<h6 align=center>Chapter 1 - Preprocessing (cont'd)</h6>

Last Updated: December 20, 2021\
Author: Group 21 - Anniek Brink, Jeanne Dubois, and Resha Dirga

<h3>Chapter Objectives</h3>

<p>In this chapter the merged datasets will be processed based on the findings and next steps in Data Exploratory chapter. At the end of this chapter, the dataset should be ready to be used for clustering. The treatment to the dataset, including:</p>
<ul>
    <li>Datatypes correction</li>
    <li>Data imputation, and</li>    
    <li>Review of dataset consistency after imputation</li>
</ul>
<p>In addition to the three items above, the best granularity level for analysis shall be determined during Data Imputation to get the best result possible.</p>

<u>Note:</u> This chapter is a continuation of <b><i>Chapter 1 - Preprocessing</i></b>

<h3>Chapter 1: Import modules</h3>
<p>This chapter lists all modules that being used on this document. The module import process will be performed on this chapter</p>

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

<h3>Chapter 2: Read datasets</h3>
<p>This chapter reads the merged datasets and provides a quick overview of each datasets, i.e.: the first five line of each dataset, information of the data types and the summary of all numerical values.</p>

<h5>Chapter 2.1 - Read datasets from the preprocessing checkpoint</h5>

In [2]:
# List of file directories
checkpoint_preprocessed_filenames = [
    "datasets_preprocessed/df_kharif_preprocessed_checkpoint_2.csv",
    "datasets_preprocessed/df_rabi_preprocessed_checkpoint_2.csv"
]

In [3]:
# Store datasets in a dataframe
df = {}
for filename in checkpoint_preprocessed_filenames:
    df[filename] = pd.read_csv(filename, delimiter=";",index_col = 0)

/Users/admin/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3172: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Create a function for indexing the specific dataset
def df_shorten(season):
    if season == "kharif":
        return df[list(df.keys())[0]]
    elif season == "rabi":
        return df[list(df.keys())[1]]
    else:
        print("Data is out of range. Available season data: kharif, rabi (case sensitive)")
        return

<h5>Chapter 2.2 - Dataset overview</h5>

In [5]:
# Setup viewing parameter for dataset overview
pd.set_option('display.max_columns', None)

In [6]:
# Print datasets info
for index in checkpoint_preprocessed_filenames:
    print('')
    print(index)
    print('----------')
    df[index].info()
    print('<<=====================>>')

datasets_preprocessed/df_kharif_preprocessed_checkpoint_2.csv
----------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 511242 entries, 1850 to 511241
Data columns (total 35 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   State               511242 non-null  object
 1   Cluster             511242 non-null  int64
 2   District            511242 non-null  object
 3   Sub-District        429814 non-null  object
 4   Block               365178 non-null  object
 5   GP                  374588 non-null  object
 6   Season              511242 non-null  object
 7   Crop                511242 non-null  object
 8   Area Sown (Ha)      235991 non-null  float64
 9   Area Insured (Ha)   463017 non-null  float64
 10  SI Per Ha (Inr/Ha)  483684 non-null  float64
 11  Sum Insured (Inr)   490574 non-null  float64
 12  Indemnity Level     511242 non-null  float64
 13  2000 Yield          13682 non-null   float64
 14  2001 Yield          13664 non-null   float64
 15  2002 Yield          14683 non-null   float64
 16  2003 Yield          195667 non-null  float64
 17  2004 Yield          190581 non-null  float64
 18  2005 Yield          301902 non-null  float64
 19  2006 Yield          426555 non-null  float64
 20  2007 Yield          446754 non-null  float64
 21  2008 Yield          454976 non-null  float64
 22  2009 Yield          465432 non-null  float64
 23  2010 Yield          508832 non-null  float64
 24  2011 Yield          509800 non-null  float64
 25  2012 Yield          508998 non-null  float64
 26  2013 Yield          508815 non-null  float64
 27  2014 Yield          496940 non-null  float64
 28  2015 Yield          507761 non-null  float64
 29  2016 Yield          439765 non-null  float64
 30  2017 Yield          161972 non-null  float64
 31  2018 Yield          0 non-null       float64
 32  ID                  511242 non-null  int64
 33  GP_Group            511242 non-null  object
 34  District_Group      511242 non-null  object
dtypes: float64(24), int64(2), object(9)
memory usage: 140.4+ MB
<<=====================>>

datasets_preprocessed/df_rabi_preprocessed_checkpoint_2.csv
----------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 616791 entries, 5679 to 616789
Data columns (total 35 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   State               616791 non-null  object
 1   Cluster             616760 non-null  float64
 2   District            616791 non-null  object
 3   Sub-District        597757 non-null  object
 4   Block               547623 non-null  object
 5   GP                  491603 non-null  object
 6   Season              616791 non-null  object
 7   Crop                616791 non-null  object
 8   Area Sown (Ha)      244213 non-null  float64
 9   Area Insured (Ha)   611665 non-null  float64
 10  SI Per Ha (Inr/Ha)  616468 non-null  float64
 11  Sum Insured (Inr)   611507 non-null  float64
 12  Indemnity Level     616791 non-null  float64
 13  2002 Yield          30033 non-null   float64
 14  2003 Yield          387616 non-null  float64
 15  2004 Yield          391051 non-null  float64
 16  2005 Yield          465453 non-null  float64
 17  2006 Yield          552390 non-null  float64
 18  2007 Yield          562708 non-null  float64
 19  2008 Yield          605915 non-null  float64
 20  2009 Yield          615323 non-null  float64
 21  2010 Yield          616312 non-null  float64
 22  2011 Yield          616575 non-null  float64
 23  2012 Yield          616518 non-null  float64
 24  2013 Yield          616552 non-null  float64
 25  2014 Yield          616634 non-null  float64
 26  2015 Yield          545215 non-null  float64
 27  2016 Yield          146439 non-null  float64
 28  2000 Yield          789 non-null     float64
 29  2001 Yield          789 non-null     float64
 30  ID                  616791 non-null  int64
 31  2017 Yield          55795 non-null   float64
 32  2018 Yield          0 non-null       float64
 33  GP_Group            616791 non-null  object
 34  District_Group      616791 non-null  object
dtypes: float64(25), int64(1), object(9)
memory usage: 169.4+ MB
<<=====================>>

In [7]:
# Print datasets first five lines
for index in checkpoint_preprocessed_filenames:
    print('')
    print(index)
    print('----------')
    print(df[index].head())
    print('<<=====================>>')

datasets_preprocessed/df_kharif_preprocessed_checkpoint_2.csv
----------
               State  Cluster  District Sub-District Block                 GP  \
1850  andhra pradesh        1  chittoor  b.kothakota   NaN    badikayalapalle
1851  andhra pradesh        1  chittoor  b.kothakota   NaN  bayyappagaripalle
1852  andhra pradesh        1  chittoor  b.kothakota   NaN           beerangi
1853  andhra pradesh        1  chittoor  b.kothakota   NaN              gattu
1854  andhra pradesh        1  chittoor  b.kothakota   NaN         gollapalle

      Season   Crop  Area Sown (Ha)  Area Insured (Ha)  SI Per Ha (Inr/Ha)  \
1850  kharif  paddy        9.336967           7.330287             70000.0
1851  kharif  paddy        9.336967           7.330287             70000.0
1852  kharif  paddy        9.336967           7.330287             70000.0
1853  kharif  paddy        9.336967           7.330287             70000.0
1854  kharif  paddy        9.336967           7.330287             70000.0

      Sum Insured (Inr)  Indemnity Level  2000 Yield  2001 Yield  2002 Yield  \
1850       513120.11893              0.8         NaN         NaN         NaN
1851       513120.11893              0.8         NaN         NaN         NaN
1852       513120.11893              0.8         NaN         NaN         NaN
1853       513120.11893              0.8         NaN         NaN         NaN
1854       513120.11893              0.8         NaN         NaN         NaN

      2003 Yield  2004 Yield  2005 Yield   2006 Yield  2007 Yield  \
1850         NaN         NaN         NaN  2218.792203   2880.0469
1851         NaN         NaN         NaN  2218.792203   2880.0469
1852         NaN         NaN         NaN  2218.792203   2880.0469
1853         NaN         NaN         NaN  2218.792203   2880.0469
1854         NaN         NaN         NaN  2218.792203   2880.0469

       2008 Yield   2009 Yield  2010 Yield  2011 Yield  2012 Yield  \
1850  2423.768505  2185.001109      2292.0      4050.0      3742.0
1851  2423.768505  2185.001109      2292.0      4050.0      3742.0
1852  2423.768505  2185.001109      2292.0      4050.0      3742.0
1853  2423.768505  2185.001109      2292.0      4050.0      3742.0
1854  2423.768505  2185.001109      2292.0      4050.0      3742.0

      2013 Yield  2014 Yield  2015 Yield  2016 Yield  2017 Yield  2018 Yield  \
1850      4000.0      3804.0      3716.0      3943.0         NaN         NaN
1851      4000.0      3802.0      3848.0      4094.0         NaN         NaN
1852      4000.0      3802.0      3848.0      4094.0         NaN         NaN
1853      4000.0      3802.0      3848.0      4094.0         NaN         NaN
1854      4000.0      3804.0      3716.0      3943.0         NaN         NaN

        ID                                           GP_Group  \
1850  1850  andhra pradesh|chittoor|b.kothakota|nan|badika...
1851  1851  andhra pradesh|chittoor|b.kothakota|nan|bayyap...
1852  1852  andhra pradesh|chittoor|b.kothakota|nan|beeran...
1853  1853  andhra pradesh|chittoor|b.kothakota|nan|gattu|...
1854  1854  andhra pradesh|chittoor|b.kothakota|nan|gollap...

                     District_Group
1850  andhra pradesh|chittoor|paddy
1851  andhra pradesh|chittoor|paddy
1852  andhra pradesh|chittoor|paddy
1853  andhra pradesh|chittoor|paddy
1854  andhra pradesh|chittoor|paddy
<<=====================>>

datasets_preprocessed/df_rabi_preprocessed_checkpoint_2.csv
----------
               State  Cluster        District Sub-District Block   GP Season  \
5679  andhra pradesh      1.0   east godavari            1   NaN  NaN   rabi
5685  andhra pradesh      1.0  vishakhapatnam            1   NaN  NaN   rabi
6113           bihar      1.0           arwal          NaN   NaN  NaN   rabi
6114           bihar      2.0      aurangabad          NaN   NaN  NaN   rabi
6115           bihar      3.0           banka          NaN   NaN  NaN   rabi

                     Crop  Area Sown (Ha)  Area Insured (Ha)  \
5679           red chilli             NaN           132.9471
5685           red chilli             NaN             3.3880
6113  bengal gram (chana)          402.33                NaN
6114  bengal gram (chana)         3689.33                NaN
6115  bengal gram (chana)         1129.50                NaN

      SI Per Ha (Inr/Ha)  Sum Insured (Inr)  Indemnity Level  2002 Yield  \
5679            112500.0        14956548.75              0.9         NaN
5685             93750.0          317625.00              0.9         NaN
6113             27950.0                NaN              0.8         NaN
6114             28750.0                NaN              0.8         NaN
6115             25988.0                NaN              0.8         NaN

      2003 Yield  2004 Yield  2005 Yield  2006 Yield  2007 Yield  2008 Yield  \
5679         NaN         NaN         NaN      2987.0      2480.0      2480.0
5685         NaN         NaN         NaN      2766.0       829.0      1243.0
6113         NaN         NaN       773.0       967.0       892.0       810.0
6114         NaN         NaN       452.0      1082.0      1075.0       801.0
6115         NaN         NaN       794.0       873.0       830.0      1027.0

      2009 Yield  2010 Yield  2011 Yield  2012 Yield  2013 Yield  2014 Yield  \
5679      4183.5       820.0      1180.0      1212.0       547.0       865.0
5685      3835.5      1177.0      1155.0      1212.0       940.0       762.0
6113       781.0       670.0       835.0       895.0       379.0       596.0
6114       482.0       502.5       955.0      1173.0       415.0       888.0
6115       500.0       652.5      1165.0      1515.0       419.0       991.0

      2015 Yield  2016 Yield  2000 Yield  2001 Yield    ID  2017 Yield  \
5679         NaN         NaN         NaN         NaN  5679         NaN
5685         NaN         NaN         NaN         NaN  5685         NaN
6113         NaN         NaN         NaN         NaN  6113         NaN
6114         NaN         NaN         NaN         NaN  6114         NaN
6115         NaN         NaN         NaN         NaN  6115         NaN

      2018 Yield                                           GP_Group  \
5679         NaN  andhra pradesh|east godavari|1|nan|nan|red chilli
5685         NaN  andhra pradesh|vishakhapatnam|1|nan|nan|red ch...
6113         NaN        bihar|arwal|nan|nan|nan|bengal gram (chana)
6114         NaN   bihar|aurangabad|nan|nan|nan|bengal gram (chana)
6115         NaN        bihar|banka|nan|nan|nan|bengal gram (chana)

                                District_Group
5679   andhra pradesh|east godavari|red chilli
5685  andhra pradesh|vishakhapatnam|red chilli
6113           bihar|arwal|bengal gram (chana)
6114      bihar|aurangabad|bengal gram (chana)
6115           bihar|banka|bengal gram (chana)
<<=====================>>

In [8]:
# Print datasets summary for numerical columns
for index in checkpoint_preprocessed_filenames:
    print('')
    print(index)
    print('----------')
    print(df[index].describe())
    print('<<=====================>>')

datasets_preprocessed/df_kharif_preprocessed_checkpoint_2.csv
----------
             Cluster  Area Sown (Ha)  Area Insured (Ha)  SI Per Ha (Inr/Ha)  \
count  511242.000000   235991.000000      463017.000000       483684.000000
mean        4.812815      414.274412         173.325412        38769.535964
std         2.889222     1188.494481         830.693864        21618.886084
min         1.000000        0.000000           0.000000         1400.000000
25%         2.000000       78.093023           1.667800        20524.000000
50%         4.000000      170.689798          35.017224        36000.000000
75%         7.000000      376.251451         150.433460        51686.000000
max        12.000000    85824.000000       85300.000000       250000.000000

       Sum Insured (Inr)  Indemnity Level    2000 Yield    2001 Yield  \
count       4.905740e+05    511242.000000  13682.000000  13664.000000
mean        7.813047e+06         0.810371   1547.075772   2334.428377
std         3.908524e+07         0.053907    818.204293    701.544538
min         0.000000e+00         0.700000     41.000000    160.000000
25%         1.933750e+05         0.800000    953.000000   1795.500000
50%         2.437325e+06         0.800000   1470.000000   2258.000000
75%         6.764550e+06         0.800000   2107.000000   2803.625000
max         2.510902e+09         0.900000   4016.000000   5264.000000

         2002 Yield     2003 Yield     2004 Yield     2005 Yield  \
count  14683.000000  195667.000000  190581.000000  301902.000000
mean    1132.226120    1358.224116    1250.071156    1503.466006
std      689.865052     949.626753    1039.623297    1435.097919
min       16.000000       3.000000       8.000000       0.000000
25%      603.000000     669.000000     603.000000     728.000000
50%     1025.000000    1194.000000    1042.000000    1238.147436
75%     1416.000000    2002.000000    1786.000000    2020.332500
max     5533.000000   36016.000000   66476.000000   82347.530000

          2006 Yield     2007 Yield     2008 Yield     2009 Yield  \
count  426555.000000  446754.000000  454976.000000  465432.000000
mean     1321.933081    1564.127550    1665.846794    1550.825285
std      1325.259834    1380.093185    3928.888446    4091.310244
min         0.000000       0.000000       0.000000       0.000000
25%       586.000000     660.400000     620.000000     505.000000
50%      1077.000000    1299.000000    1250.000000    1126.000000
75%      1834.000000    2223.461320    2186.385714    2063.000000
max     91155.160000   81113.080000  139800.000000  165066.667000

          2010 Yield     2011 Yield     2012 Yield     2013 Yield  \
count  508832.000000  509800.000000  508998.000000  508815.000000
mean     1740.291925    1826.115054    1943.314722    1877.218251
std      3920.024001    4379.861022    4235.328919    4284.322235
min         0.000000       0.000000       0.000000       0.000000
25%       734.900000     756.000000     760.000000     680.000000
50%      1321.000000    1317.000000    1475.000000    1349.000000
75%      2149.000000    2317.000000    2501.000000    2480.000000
max    129974.000000  147566.667000  140100.000000  149200.000000

          2014 Yield     2015 Yield     2016 Yield     2017 Yield  2018 Yield  \
count  496940.000000  507761.000000  439765.000000  161972.000000         0.0
mean     1908.230227    1679.452255    2092.296588    1771.238564         NaN
std      4175.639346    4384.502313    4702.038079    1855.904742         NaN
min         0.000000       0.000000       0.000000       0.000000         NaN
25%       699.000000     554.000000     675.000000     552.451102         NaN
50%      1401.600000    1156.000000    1616.000000    1382.000000         NaN
75%      2557.000000    2172.000000    2731.000000    2605.000000         NaN
max    152400.000000  138066.667000  115336.760203   41484.000000         NaN

                  ID
count  511242.000000
mean   255620.500000
std    147582.997497
min         0.000000
25%    127810.250000
50%    255620.500000
75%    383430.750000
max    511241.000000
<<=====================>>

datasets_preprocessed/df_rabi_preprocessed_checkpoint_2.csv
----------
             Cluster  Area Sown (Ha)  Area Insured (Ha)  SI Per Ha (Inr/Ha)  \
count  616760.000000   244213.000000      611665.000000       616468.000000
mean        5.312131      234.100843          95.615759        47647.431891
std         3.234869     1065.305170         551.532164        22939.249918
min         1.000000        0.000000           0.000000         5500.000000
25%         3.000000       64.000000           0.361402        31000.000000
50%         5.000000      137.304348           8.020971        43309.000000
75%         8.000000      250.933657          62.544444        58758.000000
max        12.000000   279000.000000       43471.428571       215000.000000

       Sum Insured (Inr)  Indemnity Level    2002 Yield     2003 Yield  \
count       6.115070e+05    616791.000000  30033.000000  387616.000000
mean        5.909700e+06         1.029509   2294.892099    4616.140068
std         4.446914e+07         4.338518   1905.984576    6863.168527
min         0.000000e+00         0.700000    231.000000     106.000000
25%         2.158268e+04         0.800000   1585.000000     955.000000
50%         1.620870e+06         0.800000   2272.000000    1641.000000
75%         7.007862e+06         0.800000   2587.000000    3076.000000
max         1.687950e+10        90.000000  30523.000000   34542.000000

          2004 Yield     2005 Yield     2006 Yield     2007 Yield  \
count  391051.000000  465453.000000  552390.000000  562708.000000
mean     4429.379589    4365.900647    3878.141831    3998.385024
std      7014.099827    7122.848331    6220.428486    6794.853639
min       117.000000       0.000000       0.000000       0.000000
25%       849.000000     923.000000     897.000000     899.000000
50%      1684.000000    1625.000000    1705.000000    1617.000000
75%      2901.000000    2895.000000    3152.000000    3089.000000
max     49242.000000   42746.000000  126052.490000  166092.170000

          2008 Yield     2009 Yield     2010 Yield     2011 Yield  \
count  605915.000000  615323.000000  616312.000000  616575.000000
mean     3868.866975    4499.891297    4423.677415    4439.573971
std      6071.305196    7622.970343    7271.224128    7061.685162
min         0.000000       0.000000       0.000000       0.000000
25%       961.000000     934.000000     951.000000    1079.000000
50%      1602.000000    1640.800000    1675.000000    1837.000000
75%      3209.000000    3159.000000    3410.000000    3536.000000
max    149206.040000  115376.790000  210041.950000  216209.450000

          2012 Yield     2013 Yield     2014 Yield     2015 Yield  \
count  616518.000000  616552.000000  616634.000000  545215.000000
mean     4456.602945    4039.036682    4004.143649    4303.254000
std      7159.810315    6554.824441    7101.084218    7081.706002
min         0.000000       0.000000       0.000000       0.000000
25%      1102.000000     860.000000     730.000000     853.000000
50%      1946.000000    1851.000000    1459.000000    1591.000000
75%      3508.000000    3508.000000    3069.000000    3337.000000
max    217915.470000  220617.830000  179866.580000  102710.000000

          2016 Yield    2000 Yield   2001 Yield             ID    2017 Yield  \
count  146439.000000    789.000000   789.000000  616791.000000  55795.000000
mean     2555.835863   4669.068441  2611.662864  308395.000000   3029.755204
std      2937.318247   4370.591253  2413.015135  178052.369279   1576.632346
min         0.000000    977.000000   482.000000       0.000000      0.000000
25%      1074.447981   1457.000000   858.000000  154197.500000   1953.000000
50%      2157.000000   1836.000000   977.000000  308395.000000   3245.000000
75%      3632.000000  10886.000000  5958.000000  462592.500000   3889.000000
max    135712.000000  14427.000000  7090.000000  616790.000000  23264.000000

       2018 Yield
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN
<<=====================>>

<h3>Chapter 4: Preprocessing 3 - External data integration</h3>
<p>There are some external data that are complimentary to the clustering and analysis. Thus, this chapter contains all procedures of adding external data to the main dataset that will be used for clustering later on.</p>

In [9]:
# Create function to check null-values
def check_null(data):
    try:
        sns.heatmap(data.isnull(),yticklabels=False,cbar=False,cmap='viridis')
    except:
        pass
    
    df_check_null = {
    'Null': data.isna().sum(),
    'Non-null': data.count(),
    }
    
    return pd.DataFrame(df_check_null).transpose()

In [10]:
# List of file directories
additional_file_filenames = [
    "./../01_Additional_data/cities_climate/SCOR_Cities_Climate_integrated_kharif.csv",
    "./../01_Additional_data/cities_climate/SCOR_Cities_Climate_integrated_rabi.csv"
]

In [11]:
# Store datasets in a dataframe
df_additionals = {}
for filename in additional_file_filenames:
    df_additionals[filename] = pd.read_csv(filename)

In [12]:
# Assign additional data to a variable
df_adds_climate_kharif = df_additionals[list(df_additionals.keys())[0]]
df_adds_climate_rabi = df_additionals[list(df_additionals.keys())[1]]

In [13]:
# Prepare the additional data for integration
df_adds_climate_kharif['Integration_ID'] = df_adds_climate_kharif.apply(lambda x: x['District ID'].split('_')[0].lower() + "_" + x['District ID'].split('_')[2].lower(), axis=1)
df_adds_climate_kharif = df_adds_climate_kharif[df_adds_climate_kharif.columns.tolist()[15:]]

for col in df_adds_climate_kharif.columns.tolist()[:-3]:
    try:
        df_adds_climate_kharif[col] = df_adds_climate_kharif.apply(lambda x: str(x[col]).split(" ")[0], axis=1)
        df_adds_climate_kharif[col] = pd.to_numeric(df_adds_climate_kharif[col], errors='coerce')
    except:
        pass

df_adds_climate_kharif = df_adds_climate_kharif.drop(columns=['index_ref'])
df_adds_climate_kharif.replace('unknown', np.nan, inplace=True)
df_adds_climate_kharif

/var/folders/h0/vgjkl_895611pw1tzh74wq280000gn/T/ipykernel_3181/3423904747.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adds_climate_kharif[col] = df_adds_climate_kharif.apply(lambda x: str(x[col]).split(" ")[0], axis=1)
/var/folders/h0/vgjkl_895611pw1tzh74wq280000gn/T/ipykernel_3181/3423904747.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adds_climate_kharif[col] = pd.to_numeric(df_adds_climate_kharif[col], errors='coerce')

,Average Temperature January (C),Average Temperature February (C),Average Temperature March (C),Average Temperature April (C),Average Temperature May (C),Average Temperature June (C),Average Temperature July (C),Average Temperature August (C),Average Temperature September (C),Average Temperature October (C),Average Temperature November (C),Average Temperature December (C),Min. Temperature January (C),Min. Temperature February (C),Min. Temperature March (C),Min. Temperature April (C),Min. Temperature May (C),Min. Temperature June (C),Min. Temperature July (C),Min. Temperature August (C),Min. Temperature September (C),Min. Temperature October (C),Min. Temperature November (C),Min. Temperature December (C),Max. Temperature January (C),Max. Temperature February (C),Max. Temperature March (C),Max. Temperature April (C),Max. Temperature May (C),Max. Temperature June (C),Max. Temperature July (C),Max. Temperature August (C),Max. Temperature September (C),Max. Temperature October (C),Max. Temperature November (C),Max. Temperature December (C),Precipitation January,Precipitation February,Precipitation March,Precipitation April,Precipitation May,Precipitation June,Precipitation July,Precipitation August,Precipitation September,Precipitation October,Precipitation November,Precipitation December,Humidity (%) January,Humidity (%) February,Humidity (%) March,Humidity (%) April,Humidity (%) May,Humidity (%) June,Humidity (%) July,Humidity (%) August,Humidity (%) September,Humidity (%) October,Humidity (%) November,Humidity (%) December,Rainy days (d) January,Rainy days (d) February,Rainy days (d) March,Rainy days (d) April,Rainy days (d) May,Rainy days (d) June,Rainy days (d) July,Rainy days (d) August,Rainy days (d) September,Rainy days (d) October,Rainy days (d) November,Rainy days (d) December,Average Sun Hours January,Average Sun Hours February,Average Sun Hours March,Average Sun Hours April,Average Sun Hours May,Average Sun Hours June,Average Sun Hours July,Average Sun Hours August,Average Sun Hours September,Average Sun Hours October,Average Sun Hours November,Average Sun Hours December,Integration_ID
0,22.8,26.1,29.6,33.6,35.5,31.0,27.0,26.2,26.6,26.4,24.6,22.5,16.1,19.1,22.4,26.5,29.6,27.2,24.7,24.0,23.6,21.7,19.1,16.2,29.2,32.7,36.3,40.1,41.3,35.3,29.9,29.0,30.1,31.0,29.9,28.5,13.0,8.0,13.0,10.0,15.0,185.0,294.0,282.0,156.0,60.0,16.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,2.0,10.0,16.0,15.0,11.0,5.0,2.0,1.0,9.6,10.1,10.7,11.3,11.7,10.6,8.7,8.1,8.5,9.5,9.6,9.6,telangana_adilabad
1,18.0,21.1,26.0,31.4,33.7,30.8,26.2,25.1,25.8,25.9,22.8,19.1,11.1,13.9,18.4,23.8,27.1,26.2,23.8,23.0,22.4,19.8,16.4,12.4,25.0,28.2,33.2,38.3,40.0,36.0,29.3,27.9,29.8,31.9,29.3,26.0,5.0,7.0,5.0,3.0,8.0,103.0,343.0,288.0,122.0,17.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0,8.0,15.0,16.0,9.0,2.0,1.0,1.0,9.3,10.0,10.7,11.4,11.8,10.4,6.0,5.0,8.1,10.1,9.7,9.4,madhya pradesh_agar malwa
2,14.1,17.8,23.7,29.9,33.4,33.5,29.9,28.6,28.2,26.1,21.2,15.9,8.0,11.1,16.0,21.7,26.2,28.4,26.9,25.9,24.4,19.8,14.7,9.6,20.6,24.6,31.2,37.7,40.2,38.6,33.5,32.0,32.5,32.5,28.0,22.7,15.0,21.0,12.0,8.0,12.0,78.0,225.0,231.0,108.0,22.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,3.0,6.0,15.0,15.0,9.0,2.0,1.0,1.0,8.5,9.6,10.6,11.5,12.1,11.7,9.3,8.6,9.1,10.0,9.6,9.0,uttar pradesh_agra
3,20.4,22.8,27.2,31.2,33.0,31.9,28.5,27.5,28.0,27.9,25.0,21.5,13.9,15.7,19.6,23.5,26.4,27.6,26.0,25.0,24.5,22.1,18.9,15.2,27.6,30.2,34.8,38.8,40.2,37.1,31.7,30.4,31.9,34.2,32.0,28.7,1.0,1.0,1.0,1.0,1.0,73.0,307.0,242.0,109.0,17.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,5.0,14.0,15.0,7.0,2.0,1.0,0.0,9.7,10.2,10.8,11.4,11.3,9.5,7.1,6.2,8.0,10.1,9.9,9.6,gujarat_ahmedabad
4,22.0,24.5,27.7,30.7,30.4,26.4,24.2,23.7,24.1,24.7,23.6,22.0,15.3,17.3,20.4,23.2,23.6,22.9,22.0,21.4,20.9,19.8,17.9,15.8,28.5,31.3,34.5,37.8,38.0,31.4,27.6,27.1,28.2,29.7,29.2,28.2,2.0,2.0,6.0,7.0,16.0,171.0,174.0,149.0,151.0,79.0,22.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,3.0,12.0,16.0,15.0,12.0,7.0,3.0,1.0,9.8,10.3,10.8,11.3,11.5,8.6,6.7,6.0,7.0,9.3,9.5,9.5,maharashtra_ahmednagar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,18.7,22.6,27.1,30.9,31.5,29.5,26.8,26.5,26.3,25.1,22.3,19.1,12.9,16.2,19.9,23.8,25.8,25.9,24.6,24.2,23.6,21.1,17.3,13.7,25.1,29.1,34.1,38.0,38.0,34.0,30.1,29.9,29.9,29.4,27.6,24.9,16.0,17.0,20.0,32.0,73.0,245.0,305.0,280.0,201.0,78.0,11.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,3.0,5.0,9.0,15.0,19.0,20.0,16.0,7.0,1.0,1.0,9.3,9.7,10.6,11.2,11.4,9.8,7.6,7.1,7.5,8.6,9.2,9.2,jharkhand_west singhbhum
467,24.3,25.4,27.5,29.9,31.6,31.0,30.3,29.6,29.3,27.4,25.5,24.5,20.9,21.2,22.9,25.9,27.6,27.2,26.5,26.0,25.8,24.5,22.9,21.8,28.0,30.0,32.8,35.0,37.0,35.9,35.0,34.2,33.9,31.3,28.5,27.5,34.0,16.0,21.0,31.0,44.0,43.0,52.0,86.0,91.0,233.0,323.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,3.0,4.0,5.0,7.0,8.0,10.0,11.0,15.0,15.0,11.0,7.3,8.1,8.9,9.8,10.9,11.1,11.0,10.8,10.3,8.8,7.2,6.9,telangana_yadadri
468,23.9,26.3,29.6,32.4,33.1,28.5,26.6,26.0,26.0,25.8,25.0,23.8,17.6,19.7,22.8,26.0,27.6,24.9,23.7,23.2,22.8,21.5,19.4,17.6,30.2,32.8,35.9,38.4,38.9,33.1,30.5,29.7,29.9,30.6,30.6,30.0,5.0,2.0,6.0,14.0,36.0,145.0,177.0,178.0,153.0,106.0,21.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,2.0,5.0,12.0,15.0,15.0,12.0,9.0,2.0,1.0,9.7,10.1,10.7,11.2,11.4,9.1,8.0,7.8,7.9,9.0,9.2,9.3,karnataka_yadgir
469,12.6,15.8,21.1,27.5,31.2,31.6,28.8,28.0,26.9,23.8,19.1,14.3,6.7,9.4,13.7,19.2,23.3,25.8,25.7,25.1,22.8,17.5,12.7,8.2,19.2,22.6,28.5,35.3,38.4,37.0,32.5,31.6,31.2,30.4,26.4,21.4,48.0,62.0,42.0,27.0,28.0,103.0,281.0,275.0,156.0,14.0,5.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,4.0,3.0,5.0,9.0,18.0,18.0,9.0,1.0,1.0,1.0,7.9,9.2,10.6,11.5,12.1,11.4,9.4,9.1,9.2,10.0,9.5,8.5,haryana_yamunanagar
470,21.6,24.9,28.7,33.1,34.9,30.4,26.4,25.5,26.0,25.5,23.4,21.3,15.1,18.1,21.5,26.0,29.0,26.5,24.0,23.4,23.1,20.8,17.6,14.9,28.2,31.6,35.5,39.7,40.9,34.9,29.3,28.2,29.5,30.4,29.2,27.7,11.0,9.0,14.0,7.0,14.0,184.0,343.0,293.0,164.0,60.0,15.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,10.0,16.0,16.0,11.0,5.0,2.0,1.0,9.6,10.1,10.7,11.3,11.8,10.4,8.4,7.8,8.5,9.6,9.6,9.6,maharashtra_yavatmal

In [14]:
# Prepare the main dataset for integration
df_shorten("kharif")['Integration_ID'] = df_shorten("kharif").apply(lambda x: x['State'] + "_" + x['District'], axis=1)
df_shorten("kharif")

,State,Cluster,District,Sub-District,Block,GP,Season,Crop,Area Sown (Ha),Area Insured (Ha),SI Per Ha (Inr/Ha),Sum Insured (Inr),Indemnity Level,2000 Yield,2001 Yield,2002 Yield,2003 Yield,2004 Yield,2005 Yield,2006 Yield,2007 Yield,2008 Yield,2009 Yield,2010 Yield,2011 Yield,2012 Yield,2013 Yield,2014 Yield,2015 Yield,2016 Yield,2017 Yield,2018 Yield,ID,GP_Group,District_Group,Integration_ID
1850,andhra pradesh,1,chittoor,b.kothakota,NaN,badikayalapalle,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3804.00,3716.00,3943.0,NaN,NaN,1850,andhra pradesh|chittoor|b.kothakota|nan|badika...,andhra pradesh|chittoor|paddy,andhra pradesh_chittoor
1851,andhra pradesh,1,chittoor,b.kothakota,NaN,bayyappagaripalle,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3802.00,3848.00,4094.0,NaN,NaN,1851,andhra pradesh|chittoor|b.kothakota|nan|bayyap...,andhra pradesh|chittoor|paddy,andhra pradesh_chittoor
1852,andhra pradesh,1,chittoor,b.kothakota,NaN,beerangi,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3802.00,3848.00,4094.0,NaN,NaN,1852,andhra pradesh|chittoor|b.kothakota|nan|beeran...,andhra pradesh|chittoor|paddy,andhra pradesh_chittoor
1853,andhra pradesh,1,chittoor,b.kothakota,NaN,gattu,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3802.00,3848.00,4094.0,NaN,NaN,1853,andhra pradesh|chittoor|b.kothakota|nan|gattu|...,andhra pradesh|chittoor|paddy,andhra pradesh_chittoor
1854,andhra pradesh,1,chittoor,b.kothakota,NaN,gollapalle,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3804.00,3716.00,3943.0,NaN,NaN,1854,andhra pradesh|chittoor|b.kothakota|nan|gollap...,andhra pradesh|chittoor|paddy,andhra pradesh_chittoor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511237,west bengal,2,uttar dinajpur,NaN,hemtabad,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1223.840000,1533.2600,1657.400000,1479.010000,1814.60,1748.97,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511237,west bengal|uttar dinajpur|nan|hemtabad|nan|au...,west bengal|uttar dinajpur|aus paddy,west bengal_uttar dinajpur
511238,west bengal,2,uttar dinajpur,NaN,itahar,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1223.840000,1533.2600,1657.400000,1479.010000,1814.60,1748.97,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511238,west bengal|uttar dinajpur|nan|itahar|nan|aus ...,west bengal|uttar dinajpur|aus paddy,west bengal_uttar dinajpur
511239,west bengal,2,uttar dinajpur,NaN,kaliaganj,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,924.460000,1841.0700,2069.640000,1053.080000,1641.16,1406.63,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511239,west bengal|uttar dinajpur|nan|kaliaganj|nan|a...,west bengal|uttar dinajpur|aus paddy,west bengal_uttar dinajpur
511240,west bengal,2,uttar dinajpur,NaN,karandighi,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1323.630000,1456.3100,1554.340000,1479.010000,1814.60,1748.97,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511240,west bengal|uttar dinajpur|nan|karandighi|nan|...,west bengal|uttar dinajpur|aus paddy,west bengal_uttar dinajpur
511241,west bengal,2,uttar dinajpur,NaN,raiganj,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1323.630000,1456.3100,1554.340000,1620.980000,1872.41,1863.08,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511241,west bengal|uttar dinajpur|nan|raiganj|nan|aus...,west bengal|uttar dinajpur|aus paddy,west bengal_uttar dinajpur

In [15]:
# Join the additional with the main dataset
df_kharif = pd.merge(df_shorten("kharif"), 
                   df_adds_climate_kharif, 
                   left_on='Integration_ID', 
                   right_on='Integration_ID', 
                   how='left', 
                   suffixes=['',''])
df_kharif = df_kharif.drop(columns=['Integration_ID'])
df_kharif

,State,Cluster,District,Sub-District,Block,GP,Season,Crop,Area Sown (Ha),Area Insured (Ha),SI Per Ha (Inr/Ha),Sum Insured (Inr),Indemnity Level,2000 Yield,2001 Yield,2002 Yield,2003 Yield,2004 Yield,2005 Yield,2006 Yield,2007 Yield,2008 Yield,2009 Yield,2010 Yield,2011 Yield,2012 Yield,2013 Yield,2014 Yield,2015 Yield,2016 Yield,2017 Yield,2018 Yield,ID,GP_Group,District_Group,Average Temperature January (C),Average Temperature February (C),Average Temperature March (C),Average Temperature April (C),Average Temperature May (C),Average Temperature June (C),Average Temperature July (C),Average Temperature August (C),Average Temperature September (C),Average Temperature October (C),Average Temperature November (C),Average Temperature December (C),Min. Temperature January (C),Min. Temperature February (C),Min. Temperature March (C),Min. Temperature April (C),Min. Temperature May (C),Min. Temperature June (C),Min. Temperature July (C),Min. Temperature August (C),Min. Temperature September (C),Min. Temperature October (C),Min. Temperature November (C),Min. Temperature December (C),Max. Temperature January (C),Max. Temperature February (C),Max. Temperature March (C),Max. Temperature April (C),Max. Temperature May (C),Max. Temperature June (C),Max. Temperature July (C),Max. Temperature August (C),Max. Temperature September (C),Max. Temperature October (C),Max. Temperature November (C),Max. Temperature December (C),Precipitation January,Precipitation February,Precipitation March,Precipitation April,Precipitation May,Precipitation June,Precipitation July,Precipitation August,Precipitation September,Precipitation October,Precipitation November,Precipitation December,Humidity (%) January,Humidity (%) February,Humidity (%) March,Humidity (%) April,Humidity (%) May,Humidity (%) June,Humidity (%) July,Humidity (%) August,Humidity (%) September,Humidity (%) October,Humidity (%) November,Humidity (%) December,Rainy days (d) January,Rainy days (d) February,Rainy days (d) March,Rainy days (d) April,Rainy days (d) May,Rainy days (d) June,Rainy days (d) July,Rainy days (d) August,Rainy days (d) September,Rainy days (d) October,Rainy days (d) November,Rainy days (d) December,Average Sun Hours January,Average Sun Hours February,Average Sun Hours March,Average Sun Hours April,Average Sun Hours May,Average Sun Hours June,Average Sun Hours July,Average Sun Hours August,Average Sun Hours September,Average Sun Hours October,Average Sun Hours November,Average Sun Hours December
0,andhra pradesh,1,chittoor,b.kothakota,NaN,badikayalapalle,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3804.00,3716.00,3943.0,NaN,NaN,1850,andhra pradesh|chittoor|b.kothakota|nan|badika...,andhra pradesh|chittoor|paddy,22.3,24.4,27.2,29.6,30.9,29.2,28.4,27.8,27.3,25.7,23.5,22.1,16.4,17.7,20.4,23.6,25.9,25.4,24.8,24.3,23.6,22.0,19.4,17.3,28.4,31.3,34.4,36.4,37.1,34.2,33.1,32.4,32.0,30.2,28.0,27.1,9.0,7.0,13.0,21.0,62.0,85.0,83.0,96.0,121.0,153.0,107.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,3.0,8.0,10.0,9.0,10.0,11.0,13.0,10.0,5.0,7.6,8.8,9.8,10.3,11.0,10.9,10.2,9.9,9.7,8.3,6.7,6.3
1,andhra pradesh,1,chittoor,b.kothakota,NaN,bayyappagaripalle,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3802.00,3848.00,4094.0,NaN,NaN,1851,andhra pradesh|chittoor|b.kothakota|nan|bayyap...,andhra pradesh|chittoor|paddy,22.3,24.4,27.2,29.6,30.9,29.2,28.4,27.8,27.3,25.7,23.5,22.1,16.4,17.7,20.4,23.6,25.9,25.4,24.8,24.3,23.6,22.0,19.4,17.3,28.4,31.3,34.4,36.4,37.1,34.2,33.1,32.4,32.0,30.2,28.0,27.1,9.0,7.0,13.0,21.0,62.0,85.0,83.0,96.0,121.0,153.0,107.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,3.0,8.0,10.0,9.0,10.0,11.0,13.0,10.0,5.0,7.6,8.8,9.8,10.3,11.0,10.9,10.2,9.9,9.7,8.3,6.7,6.3
2,andhra pradesh,1,chittoor,b.kothakota,NaN,beerangi,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3802.00,3848.00,4094.0,NaN,NaN,1852,andhra pradesh|chittoor|b.kothakota|nan|beeran...,andhra pradesh|chittoor|paddy,22.3,24.4,27.2,29.6,30.9,29.2,28.4,27.8,27.3,25.7,23.5,22.1,16.4,17.7,20.4,23.6,25.9,25.4,24.8,24.3,23.6,22.0,19.4,17.3,28.4,31.3,34.4,36.4,37.1,34.2,33.1,32.4,32.0,30.2,28.0,27.1,9.0,7.0,13.0,21.0,62.0,85.0,83.0,96.0,121.0,153.0,107.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,3.0,8.0,10.0,9.0,10.0,11.0,13.0,10.0,5.0,7.6,8.8,9.8,10.3,11.0,10.9,10.2,9.9,9.7,8.3,6.7,6.3
3,andhra pradesh,1,chittoor,b.kothakota,NaN,gattu,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3802.00,3848.00,4094.0,NaN,NaN,1853,andhra pradesh|chittoor|b.kothakota|nan|gattu|...,andhra pradesh|chittoor|paddy,22.3,24.4,27.2,29.6,30.9,29.2,28.4,27.8,27.3,25.7,23.5,22.1,16.4,17.7,20.4,23.6,25.9,25.4,24.8,24.3,23.6,22.0,19.4,17.3,28.4,31.3,34.4,36.4,37.1,34.2,33.1,32.4,32.0,30.2,28.0,27.1,9.0,7.0,13.0,21.0,62.0,85.0,83.0,96.0,121.0,153.0,107.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,3.0,8.0,10.0,9.0,10.0,11.0,13.0,10.0,5.0,7.6,8.8,9.8,10.3,11.0,10.9,10.2,9.9,9.7,8.3,6.7,6.3
4,andhra pradesh,1,chittoor,b.kothakota,NaN,gollapalle,kharif,paddy,9.336967,7.330287,70000.0,513120.118930,0.8,NaN,NaN,NaN,NaN,NaN,NaN,2218.792203,2880.0469,2423.768505,2185.001109,2292.00,4050.00,3742.00,4000.00,3804.00,3716.00,3943.0,NaN,NaN,1854,andhra pradesh|chittoor|b.kothakota|nan|gollap...,andhra pradesh|chittoor|paddy,22.3,24.4,27.2,29.6,30.9,29.2,28.4,27.8,27.3,25.7,23.5,22.1,16.4,17.7,20.4,23.6,25.9,25.4,24.8,24.3,23.6,22.0,19.4,17.3,28.4,31.3,34.4,36.4,37.1,34.2,33.1,32.4,32.0,30.2,28.0,27.1,9.0,7.0,13.0,21.0,62.0,85.0,83.0,96.0,121.0,153.0,107.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0,3.0,8.0,10.0,9.0,10.0,11.0,13.0,10.0,5.0,7.6,8.8,9.8,10.3,11.0,10.9,10.2,9.9,9.7,8.3,6.7,6.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541945,west bengal,2,uttar dinajpur,NaN,kaliaganj,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,924.460000,1841.0700,2069.640000,1053.080000,1641.16,1406.63,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511239,west bengal|uttar dinajpur|nan|kaliaganj|nan|a...,west bengal|uttar dinajpur|aus paddy,17.7,21.0,26.2,31.8,34.7,31.9,26.9,25.7,26.4,26.2,22.8,18.8,10.9,13.8,18.4,23.9,28.2,27.4,24.5,23.6,22.8,20.0,16.3,12.2,24.7,28.2,33.6,38.8,41.0,37.1,30.0,28.6,30.5,32.4,29.5,25.8,8.0,13.0,6.0,3.0,8.0,136.0,394.0,337.0,125.0,19.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0,8.0,16.0,17.0,10.0,2.0,1.0,1.0,9.2,10.0,10.7,11.4,11.9,10.7,6.5,5.4,8.4,10.1,9.7,9.3
541946,west bengal,2,uttar dinajpur,NaN,karandighi,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1323.630000,1456.3100,1554.340000,1479.010000,1814.60,1748.97,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511240,west bengal|uttar dinajpur|nan|karandighi|nan|...,west bengal|uttar dinajpur|aus paddy,17.7,21.0,26.2,31.8,34.7,31.9,26.9,25.7,26.4,26.2,22.8,18.8,10.9,13.8,18.4,23.9,28.2,27.4,24.5,23.6,22.8,20.0,16.3,12.2,24.7,28.2,33.6,38.8,41.0,37.1,30.0,28.6,30.5,32.4,29.5,25.8,8.0,13.0,6.0,3.0,8.0,136.0,394.0,337.0,125.0,19.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0,8.0,16.0,17.0,10.0,2.0,1.0,1.0,9.2,10.0,10.7,11.4,11.9,10.7,6.5,5.4,8.4,10.1,9.7,9.3
541947,west bengal,2,uttar dinajpur,NaN,karandighi,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1323.630000,1456.3100,1554.340000,1479.010000,1814.60,1748.97,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511240,west bengal|uttar dinajpur|nan|karandighi|nan|...,west bengal|uttar dinajpur|aus paddy,17.7,21.0,26.2,31.8,34.7,31.9,26.9,25.7,26.4,26.2,22.8,18.8,10.9,13.8,18.4,23.9,28.2,27.4,24.5,23.6,22.8,20.0,16.3,12.2,24.7,28.2,33.6,38.8,41.0,37.1,30.0,28.6,30.5,32.4,29.5,25.8,8.0,13.0,6.0,3.0,8.0,136.0,394.0,337.0,125.0,19.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0,8.0,16.0,17.0,10.0,2.0,1.0,1.0,9.2,10.0,10.7,11.4,11.9,10.7,6.5,5.4,8.4,10.1,9.7,9.3
541948,west bengal,2,uttar dinajpur,NaN,raiganj,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1323.630000,1456.3100,1554.340000,1620.980000,1872.41,1863.08,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511241,west bengal|uttar dinajpur|nan|raiganj|nan|aus...,west bengal|uttar dinajpur|aus paddy,17.7,21.0,26.2,31.8,34.7,31.9,26.9,25.7,26.4,26.2,22.8,18.8,10.9,13.8,18.4,23.9,28.2,27.4,24.5,23.6,22.8,20.0,16.3,12.2,24.7,28.2,33.6,38.8,41.0,37.1,30.0,28.6,30.5,32.4,29.5,25.8,8.0,13.0,6.0,3.0,8.0,136.0,394.0,337.0,125.0,19.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0,8.0,16.0,17.0,10.0,2.0,1.0,1.0,9.2,10.0,10.7,11.4,11.9,10.7,6.5,5.4,8.4,10.1,9.7,9.3
541949,west bengal,2,uttar dinajpur,NaN,raiganj,NaN,kharif,aus paddy,NaN,1.857143,60500.0,112357.142857,0.9,NaN,NaN,NaN,NaN,NaN,1591.45,1323.630000,1456.3100,1554.340000,1620.980000,1872.41,1863.08,1781.37,1942.86,2086.49,2346.79,NaN,NaN,NaN,511241,west bengal|uttar dinajpur|nan|raiganj|nan|aus...,west bengal|uttar dinajpur|aus paddy,17.7,21.0,26.2,31.8,34.7,31.9,26.9,25.7,26.4,26.2,22.8,18.8,10.9,13.8,18.4,23.9,28.2,27.4,24.5,23.6,22.8,20.0,16.3,12.2,24.7,28.2,33.6,38.8,41.0,37.1,30.0,28.6,30.5,32.4,29.5,25.8,8.0,13.0,6.0,3.0,8.0,136.0,394.0,337.0,125.0,19.0,10.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0,8.0,16.0,17.0,10.0,2.0,1.0,1.0,9.2,10.0,10.7,11.4,11.9,10.7,6.5,5.4,8.4,10.1,9.7,9.3

In [19]:
# Prepare the additional data for integration
df_adds_climate_rabi['Integration_ID'] = df_adds_climate_rabi.apply(lambda x: x['District ID'].split('_')[0].lower() + "_" + x['District ID'].split('_')[2].lower(), axis=1)
df_adds_climate_rabi = df_adds_climate_rabi[df_adds_climate_rabi.columns.tolist()[15:]]

for col in df_adds_climate_rabi.columns.tolist()[:-3]:
    try:
        df_adds_climate_rabi[col] = df_adds_climate_rabi.apply(lambda x: str(x[col]).split(" ")[0], axis=1)
        df_adds_climate_rabi[col] = pd.to_numeric(df_adds_climate_rabi[col], errors='coerce')
    except:
        pass

df_adds_climate_rabi = df_adds_climate_rabi.drop(columns=['index_ref'])
df_adds_climate_rabi.replace('unknown', np.nan, inplace=True)
df_adds_climate_rabi

/var/folders/h0/vgjkl_895611pw1tzh74wq280000gn/T/ipykernel_3181/2419923948.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adds_climate_rabi[col] = df_adds_climate_rabi.apply(lambda x: str(x[col]).split(" ")[0], axis=1)
/var/folders/h0/vgjkl_895611pw1tzh74wq280000gn/T/ipykernel_3181/2419923948.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adds_climate_rabi[col] = pd.to_numeric(df_adds_climate_rabi[col], errors='coerce')

,Average Temperature January (C),Average Temperature February (C),Average Temperature March (C),Average Temperature April (C),Average Temperature May (C),Average Temperature June (C),Average Temperature July (C),Average Temperature August (C),Average Temperature September (C),Average Temperature October (C),Average Temperature November (C),Average Temperature December (C),Min. Temperature January (C),Min. Temperature February (C),Min. Temperature March (C),Min. Temperature April (C),Min. Temperature May (C),Min. Temperature June (C),Min. Temperature July (C),Min. Temperature August (C),Min. Temperature September (C),Min. Temperature October (C),Min. Temperature November (C),Min. Temperature December (C),Max. Temperature January (C),Max. Temperature February (C),Max. Temperature March (C),Max. Temperature April (C),Max. Temperature May (C),Max. Temperature June (C),Max. Temperature July (C),Max. Temperature August (C),Max. Temperature September (C),Max. Temperature October (C),Max. Temperature November (C),Max. Temperature December (C),Precipitation January,Precipitation February,Precipitation March,Precipitation April,Precipitation May,Precipitation June,Precipitation July,Precipitation August,Precipitation September,Precipitation October,Precipitation November,Precipitation December,Humidity (%) January,Humidity (%) February,Humidity (%) March,Humidity (%) April,Humidity (%) May,Humidity (%) June,Humidity (%) July,Humidity (%) August,Humidity (%) September,Humidity (%) October,Humidity (%) November,Humidity (%) December,Rainy days (d) January,Rainy days (d) February,Rainy days (d) March,Rainy days (d) April,Rainy days (d) May,Rainy days (d) June,Rainy days (d) July,Rainy days (d) August,Rainy days (d) September,Rainy days (d) October,Rainy days (d) November,Rainy days (d) December,Average Sun Hours January,Average Sun Hours February,Average Sun Hours March,Average Sun Hours April,Average Sun Hours May,Average Sun Hours June,Average Sun Hours July,Average Sun Hours August,Average Sun Hours September,Average Sun Hours October,Average Sun Hours November,Average Sun Hours December,Integration_ID
0,22.8,26.1,29.6,33.6,35.5,31.0,27.0,26.2,26.6,26.4,24.6,22.5,16.1,19.1,22.4,26.5,29.6,27.2,24.7,24.0,23.6,21.7,19.1,16.2,29.2,32.7,36.3,40.1,41.3,35.3,29.9,29.0,30.1,31.0,29.9,28.5,13.0,8.0,13.0,10.0,15.0,185.0,294.0,282.0,156.0,60.0,16.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,2.0,2.0,10.0,16.0,15.0,11.0,5.0,2.0,1.0,9.6,10.1,10.7,11.3,11.7,10.6,8.7,8.1,8.5,9.5,9.6,9.6,telangana_adilabad
1,18.0,21.1,26.0,31.4,33.7,30.8,26.2,25.1,25.8,25.9,22.8,19.1,11.1,13.9,18.4,23.8,27.1,26.2,23.8,23.0,22.4,19.8,16.4,12.4,25.0,28.2,33.2,38.3,40.0,36.0,29.3,27.9,29.8,31.9,29.3,26.0,5.0,7.0,5.0,3.0,8.0,103.0,343.0,288.0,122.0,17.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,2.0,8.0,15.0,16.0,9.0,2.0,1.0,1.0,9.3,10.0,10.7,11.4,11.8,10.4,6.0,5.0,8.1,10.1,9.7,9.4,madhya pradesh_agar malwa
2,14.1,17.8,23.7,29.9,33.4,33.5,29.9,28.6,28.2,26.1,21.2,15.9,8.0,11.1,16.0,21.7,26.2,28.4,26.9,25.9,24.4,19.8,14.7,9.6,20.6,24.6,31.2,37.7,40.2,38.6,33.5,32.0,32.5,32.5,28.0,22.7,15.0,21.0,12.0,8.0,12.0,78.0,225.0,231.0,108.0,22.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,3.0,6.0,15.0,15.0,9.0,2.0,1.0,1.0,8.5,9.6,10.6,11.5,12.1,11.7,9.3,8.6,9.1,10.0,9.6,9.0,uttar pradesh_agra
3,20.4,22.8,27.2,31.2,33.0,31.9,28.5,27.5,28.0,27.9,25.0,21.5,13.9,15.7,19.6,23.5,26.4,27.6,26.0,25.0,24.5,22.1,18.9,15.2,27.6,30.2,34.8,38.8,40.2,37.1,31.7,30.4,31.9,34.2,32.0,28.7,1.0,1.0,1.0,1.0,1.0,73.0,307.0,242.0,109.0,17.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,5.0,14.0,15.0,7.0,2.0,1.0,0.0,9.7,10.2,10.8,11.4,11.3,9.5,7.1,6.2,8.0,10.1,9.9,9.6,gujarat_ahmedabad
4,22.0,24.5,27.7,30.7,30.4,26.4,24.2,23.7,24.1,24.7,23.6,22.0,15.3,17.3,20.4,23.2,23.6,22.9,22.0,21.4,20.9,19.8,17.9,15.8,28.5,31.3,34.5,37.8,38.0,31.4,27.6,27.1,28.2,29.7,29.2,28.2,2.0,2.0,6.0,7.0,16.0,171.0,174.0,149.0,151.0,79.0,22.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1.0,3.0,12.0,16.0,15.0,12.0,7.0,3.0,1.0,9.8,10.3,10.8,11.3,11.5,8.6,6.7,6.0,7.0,9.3,9.5,9.5,maharashtra_ahmednagar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,18.7,22.6,27.1,30.9,31.5,29.5,26.8,26.5,26.3,25.1,22.3,19.1,12.9,16.2,19.9,23.8,25.8,25.9,24.6,24.2,23.6,21.1,17.3,13.7,25.1,29.1,34.1,38.0,38.0,34.0,30.1,29.9,29.9,29.4,27.6,24.9,16.0,17.0,20.0,32.0,73.0,245.0,305.0,280.0,201.0,78.0,11.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,3.0,5.0,9.0,15.0,19.0,20.0,16.0,7.0,1.0,1.0,9.3,9.7,10.6,11.2,11.4,9.8,7.6,7.1,7.5,8.6,9.2,9.2,jharkhand_west singhbhum
436,24.3,25.4,27.5,29.9,31.6,31.0,30.3,29.6,29.3,27.4,25.5,24.5,20.9,21.2,22.9,25.9,27.6,27.2,26.5,26.0,25.8,24.5,22.9,21.8,28.0,30.0,32.8,35.0,37.0,35.9,35.0,34.2,33.9,31.3,28.5,27.5,34.0,16.0,21.0,31.0,44.0,43.0,52.0,86.0,91.0,233.0,323.0,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,3.0,4.0,5.0,7.0,8.0,10.0,11.0,15.0,15.0,11.0,7.3,8.1,8.9,9.8,10.9,11.1,11.0,10.8,10.3,8.8,7.2,6.9,telangana_yadadri
437,23.9,26.3,29.6,32.4,33.1,28.5,26.6,26.0,26.0,25.8,25.0,23.8,17.6,19.7,22.8,26.0,27.6,24.9,23.7,23.2,22.8,21.5,19.4,17.6,30.2,32.8,35.9,38.4,38.9,33.1,30.5,29.7,29.9,30.6,30.6,30.0,5.0,2.0,6.0,14.0,36.0,145.0,177.0,178.0,153.0,106.0,21.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,2.0,5.0,12.0,15.0,15.0,12.0,9.0,2.0,1.0,9.7,10.1,10.7,11.2,11.4,9.1,8.0,7.8,7.9,9.0,9.2,9.3,karnataka_yadgir
438,12.6,15.8,21.1,27.5,31.2,31.6,28.8,28.0,26.9,23.8,19.1,14.3,6.7,9.4,13.7,19.2,23.3,25.8,25.7,25.1,22.8,17.5,12.7,8.2,19.2,22.6,28.5,35.3,38.4,37.0,32.5,31.6,31.2,30.4,26.4,21.4,48.0,62.0,42.0,27.0,28.0,103.0,281.0,275.0,156.0,14.0,5.0,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,4.0,4.0,3.0,5.0,9.0,18.0,18.0,9.0,1.0,1.0,1.0,7.9,9.2,10.6,11.5,12.1,11.4,9.4,9.1,9.2,10.0,9.5,8.5,haryana_yamunanagar
439,21.6,24.9,28.7,33.1,34.9,30.4,26.4,25.5,26.0,25.5,23.4,21.3,15.1,18.1,21.5,26.0,29.0,26.5,24.0,23.4,23.1,20.8,17.6,14.9,28.2,31.6,35.5,39.7,40.9,34.9,29.3,28.2,29.5,30.4,29.2,27.7,11.0,9.0,14.0,7.0,14.0,184.0,343.0,293.0,164.0,60.0,15.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,1.0,2.0,10.0,16.0,16.0,11.0,5.0,2.0,1.0,9.6,10.1,10.7,11.3,11.8,10.4,8.4,7.8,8.5,9.6,9.6,9.6,maharashtra_yavatmal

In [20]:
# Prepare the main dataset for integration
df_shorten("rabi")['Integration_ID'] = df_shorten("rabi").apply(lambda x: x['State'] + "_" + x['District'], axis=1)
df_shorten("rabi")

,State,Cluster,District,Sub-District,Block,GP,Season,Crop,Area Sown (Ha),Area Insured (Ha),SI Per Ha (Inr/Ha),Sum Insured (Inr),Indemnity Level,2002 Yield,2003 Yield,2004 Yield,2005 Yield,2006 Yield,2007 Yield,2008 Yield,2009 Yield,2010 Yield,2011 Yield,2012 Yield,2013 Yield,2014 Yield,2015 Yield,2016 Yield,2000 Yield,2001 Yield,ID,2017 Yield,2018 Yield,GP_Group,District_Group,Integration_ID
5679,andhra pradesh,1.0,east godavari,1,NaN,NaN,rabi,red chilli,NaN,132.9471,112500.0,14956548.75,0.9,NaN,NaN,NaN,NaN,2987.00,2480.00,2480.00,4183.50,820.00,1180.00,1212.00,547.00,865.00,NaN,NaN,NaN,NaN,5679,NaN,NaN,andhra pradesh|east godavari|1|nan|nan|red chilli,andhra pradesh|east godavari|red chilli,andhra pradesh_east godavari
5685,andhra pradesh,1.0,vishakhapatnam,1,NaN,NaN,rabi,red chilli,NaN,3.3880,93750.0,317625.00,0.9,NaN,NaN,NaN,NaN,2766.00,829.00,1243.00,3835.50,1177.00,1155.00,1212.00,940.00,762.00,NaN,NaN,NaN,NaN,5685,NaN,NaN,andhra pradesh|vishakhapatnam|1|nan|nan|red ch...,andhra pradesh|vishakhapatnam|red chilli,andhra pradesh_vishakhapatnam
6113,bihar,1.0,arwal,NaN,NaN,NaN,rabi,bengal gram (chana),402.33,NaN,27950.0,NaN,0.8,NaN,NaN,NaN,773.00,967.00,892.00,810.00,781.00,670.00,835.00,895.00,379.00,596.00,NaN,NaN,NaN,NaN,6113,NaN,NaN,bihar|arwal|nan|nan|nan|bengal gram (chana),bihar|arwal|bengal gram (chana),bihar_arwal
6114,bihar,2.0,aurangabad,NaN,NaN,NaN,rabi,bengal gram (chana),3689.33,NaN,28750.0,NaN,0.8,NaN,NaN,NaN,452.00,1082.00,1075.00,801.00,482.00,502.50,955.00,1173.00,415.00,888.00,NaN,NaN,NaN,NaN,6114,NaN,NaN,bihar|aurangabad|nan|nan|nan|bengal gram (chana),bihar|aurangabad|bengal gram (chana),bihar_aurangabad
6115,bihar,3.0,banka,NaN,NaN,NaN,rabi,bengal gram (chana),1129.50,NaN,25988.0,NaN,0.8,NaN,NaN,NaN,794.00,873.00,830.00,1027.00,500.00,652.50,1165.00,1515.00,419.00,991.00,NaN,NaN,NaN,NaN,6115,NaN,NaN,bihar|banka|nan|nan|nan|bengal gram (chana),bihar|banka|bengal gram (chana),bihar_banka
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616785,west bengal,1.0,howrah,bally-jagachha,NaN,NaN,rabi,wheat,NaN,0.2000,56810.0,11362.00,0.9,NaN,NaN,NaN,1610.15,1475.36,2179.77,1604.97,952.84,2559.50,3060.84,1541.83,1941.00,2940.80,1987.48,NaN,NaN,NaN,616785,NaN,NaN,west bengal|howrah|bally-jagachha|nan|nan|wheat,west bengal|howrah|wheat,west bengal_howrah
616786,west bengal,1.0,howrah,uluberia-ii,NaN,NaN,rabi,wheat,NaN,0.2000,56810.0,11362.00,0.9,NaN,NaN,NaN,1582.98,1522.03,2179.77,1604.97,2084.77,715.10,502.04,819.81,866.19,797.49,1151.15,NaN,NaN,NaN,616786,NaN,NaN,west bengal|howrah|uluberia-ii|nan|nan|wheat,west bengal|howrah|wheat,west bengal_howrah
616787,west bengal,3.0,purba medinipur,haldia,NaN,NaN,rabi,wheat,NaN,0.7500,38557.0,28917.75,0.9,NaN,NaN,NaN,2136.41,2323.66,2599.19,2432.22,2084.77,1987.31,1417.77,2804.98,2382.03,2518.48,1362.95,NaN,NaN,NaN,616787,NaN,NaN,west bengal|purba medinipur|haldia|nan|nan|wheat,west bengal|purba medinipur|wheat,west bengal_purba medinipur
616788,west bengal,3.0,purba medinipur,mohisadal-ii,NaN,NaN,rabi,wheat,NaN,0.7500,38557.0,28917.75,0.9,NaN,NaN,NaN,2136.41,2323.66,2599.19,2432.22,2450.12,1987.31,1417.77,2804.98,2382.03,2518.48,1362.95,NaN,NaN,NaN,616788,NaN,NaN,west bengal|purba medinipur|mohisadal-ii|nan|n...,west bengal|purba medinipur|wheat,west bengal_purba medinipur
616789,west bengal,1.0,paschim medinipur,NaN,NaN,NaN,rabi,maize,NaN,24.5200,34580.0,847901.60,0.9,NaN,NaN,NaN,2556.00,2891.00,2450.00,2950.00,2450.12,2569.92,2431.37,2564.58,2623.86,2756.52,2496.65,NaN,NaN,NaN,616789,NaN,NaN,west bengal|paschim medinipur|nan|nan|nan|maize,west bengal|paschim medinipur|maize,west bengal_paschim medinipur

In [21]:
# Join the additional with the main dataset
df_rabi = pd.merge(df_shorten("rabi"), 
                   df_adds_climate_rabi, 
                   left_on='Integration_ID', 
                   right_on='Integration_ID', 
                   how='left', 
                   suffixes=['',''])
df_rabi = df_rabi.drop(columns=['Integration_ID'])
df_rabi

,State,Cluster,District,Sub-District,Block,GP,Season,Crop,Area Sown (Ha),Area Insured (Ha),SI Per Ha (Inr/Ha),Sum Insured (Inr),Indemnity Level,2002 Yield,2003 Yield,2004 Yield,2005 Yield,2006 Yield,2007 Yield,2008 Yield,2009 Yield,2010 Yield,2011 Yield,2012 Yield,2013 Yield,2014 Yield,2015 Yield,2016 Yield,2000 Yield,2001 Yield,ID,2017 Yield,2018 Yield,GP_Group,District_Group,Average Temperature January (C),Average Temperature February (C),Average Temperature March (C),Average Temperature April (C),Average Temperature May (C),Average Temperature June (C),Average Temperature July (C),Average Temperature August (C),Average Temperature September (C),Average Temperature October (C),Average Temperature November (C),Average Temperature December (C),Min. Temperature January (C),Min. Temperature February (C),Min. Temperature March (C),Min. Temperature April (C),Min. Temperature May (C),Min. Temperature June (C),Min. Temperature July (C),Min. Temperature August (C),Min. Temperature September (C),Min. Temperature October (C),Min. Temperature November (C),Min. Temperature December (C),Max. Temperature January (C),Max. Temperature February (C),Max. Temperature March (C),Max. Temperature April (C),Max. Temperature May (C),Max. Temperature June (C),Max. Temperature July (C),Max. Temperature August (C),Max. Temperature September (C),Max. Temperature October (C),Max. Temperature November (C),Max. Temperature December (C),Precipitation January,Precipitation February,Precipitation March,Precipitation April,Precipitation May,Precipitation June,Precipitation July,Precipitation August,Precipitation September,Precipitation October,Precipitation November,Precipitation December,Humidity (%) January,Humidity (%) February,Humidity (%) March,Humidity (%) April,Humidity (%) May,Humidity (%) June,Humidity (%) July,Humidity (%) August,Humidity (%) September,Humidity (%) October,Humidity (%) November,Humidity (%) December,Rainy days (d) January,Rainy days (d) February,Rainy days (d) March,Rainy days (d) April,Rainy days (d) May,Rainy days (d) June,Rainy days (d) July,Rainy days (d) August,Rainy days (d) September,Rainy days (d) October,Rainy days (d) November,Rainy days (d) December,Average Sun Hours January,Average Sun Hours February,Average Sun Hours March,Average Sun Hours April,Average Sun Hours May,Average Sun Hours June,Average Sun Hours July,Average Sun Hours August,Average Sun Hours September,Average Sun Hours October,Average Sun Hours November,Average Sun Hours December
0,andhra pradesh,1.0,east godavari,1,NaN,NaN,rabi,red chilli,NaN,132.9471,112500.0,14956548.75,0.9,NaN,NaN,NaN,NaN,2987.00,2480.00,2480.00,4183.50,820.00,1180.00,1212.00,547.00,865.00,NaN,NaN,NaN,NaN,5679,NaN,NaN,andhra pradesh|east godavari|1|nan|nan|red chilli,andhra pradesh|east godavari|red chilli,23.8,25.3,27.8,29.9,31.9,30.4,28.6,28.1,28.0,27.3,25.8,24.2,20.3,21.4,23.8,26.4,28.5,27.6,26.3,26.0,25.8,24.9,23.0,21.2,27.5,29.5,32.4,34.4,36.3,33.8,31.3,30.7,30.7,30.1,28.7,27.5,12.0,14.0,12.0,15.0,62.0,160.0,222.0,218.0,220.0,194.0,84.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,4.0,11.0,15.0,15.0,15.0,13.0,6.0,2.0,8.6,9.0,9.5,9.5,10.2,10.6,10.1,9.7,9.0,8.7,8.9,8.7
1,andhra pradesh,1.0,vishakhapatnam,1,NaN,NaN,rabi,red chilli,NaN,3.3880,93750.0,317625.00,0.9,NaN,NaN,NaN,NaN,2766.00,829.00,1243.00,3835.50,1177.00,1155.00,1212.00,940.00,762.00,NaN,NaN,NaN,NaN,5685,NaN,NaN,andhra pradesh|vishakhapatnam|1|nan|nan|red ch...,andhra pradesh|vishakhapatnam|red chilli,22.7,24.7,27.5,29.4,30.9,29.8,28.2,27.7,27.6,26.8,24.9,23.1,18.9,20.6,23.9,26.3,27.9,27.3,26.2,25.8,25.6,24.3,21.8,19.6,26.6,29.0,31.8,33.6,34.9,32.9,30.6,30.0,30.0,29.6,28.1,26.6,11.0,12.0,10.0,10.0,51.0,125.0,187.0,205.0,182.0,163.0,87.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,1.0,3.0,10.0,14.0,14.0,14.0,12.0,5.0,2.0,9.0,9.4,10.1,10.4,10.7,11.0,10.7,10.3,9.4,8.9,9.1,9.0
2,bihar,1.0,arwal,NaN,NaN,NaN,rabi,bengal gram (chana),402.33,NaN,27950.0,NaN,0.8,NaN,NaN,NaN,773.00,967.00,892.00,810.00,781.00,670.00,835.00,895.00,379.00,596.00,NaN,NaN,NaN,NaN,6113,NaN,NaN,bihar|arwal|nan|nan|nan|bengal gram (chana),bihar|arwal|bengal gram (chana),16.1,20.0,25.9,31.3,33.0,32.0,29.0,28.5,27.7,25.3,21.6,17.5,9.9,13.2,18.2,23.6,26.6,27.5,26.4,25.9,25.0,20.9,15.5,11.2,22.5,26.6,33.1,38.6,39.1,36.7,32.3,31.9,31.1,29.9,27.6,23.9,16.0,18.0,9.0,9.0,25.0,177.0,326.0,290.0,208.0,56.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,4.0,11.0,19.0,19.0,16.0,5.0,1.0,1.0,8.6,9.7,10.7,11.3,11.4,10.3,8.3,8.0,8.2,8.9,9.3,8.7
3,bihar,2.0,aurangabad,NaN,NaN,NaN,rabi,bengal gram (chana),3689.33,NaN,28750.0,NaN,0.8,NaN,NaN,NaN,452.00,1082.00,1075.00,801.00,482.00,502.50,955.00,1173.00,415.00,888.00,NaN,NaN,NaN,NaN,6114,NaN,NaN,bihar|aurangabad|nan|nan|nan|bengal gram (chana),bihar|aurangabad|bengal gram (chana),16.2,20.3,26.0,31.5,33.5,32.2,28.8,28.3,27.6,25.4,21.5,17.5,9.6,13.1,18.0,23.4,26.7,27.8,26.2,25.8,24.9,20.9,15.4,10.9,22.7,27.1,33.3,38.8,39.7,36.9,32.1,31.6,31.1,30.1,27.5,23.9,16.0,17.0,10.0,9.0,21.0,169.0,315.0,264.0,204.0,58.0,8.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,4.0,11.0,18.0,18.0,15.0,5.0,1.0,1.0,8.8,9.8,10.7,11.4,11.7,10.6,8.5,8.0,8.3,9.1,9.5,9.0
4,bihar,3.0,banka,NaN,NaN,NaN,rabi,bengal gram (chana),1129.50,NaN,25988.0,NaN,0.8,NaN,NaN,NaN,794.00,873.00,830.00,1027.00,500.00,652.50,1165.00,1515.00,419.00,991.00,NaN,NaN,NaN,NaN,6115,NaN,NaN,bihar|banka|nan|nan|nan|bengal gram (chana),bihar|banka|bengal gram (chana),16.3,20.0,25.3,29.5,30.1,29.7,28.0,27.8,27.3,25.3,21.5,17.7,10.5,13.7,18.5,23.0,25.0,26.2,25.7,25.5,24.7,21.4,16.2,12.1,22.2,26.2,31.9,36.1,35.6,33.8,31.2,31.1,30.7,29.4,26.9,23.4,17.0,17.0,20.0,26.0,93.0,204.0,291.0,249.0,228.0,80.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,4.0,9.0,14.0,20.0,19.0,17.0,6.0,1.0,1.0,8.8,9.6,10.4,9.9,8.8,8.6,7.9,7.7,7.7,8.8,9.1,8.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638796,west bengal,1.0,howrah,bally-jagachha,NaN,NaN,rabi,wheat,NaN,0.2000,56810.0,11362.00,0.9,NaN,NaN,NaN,1610.15,1475.36,2179.77,1604.97,952.84,2559.50,3060.84,1541.83,1941.00,2940.80,1987.48,NaN,NaN,NaN,616785,NaN,NaN,west bengal|howrah|bally-jagachha|nan|nan|wheat,west bengal|howrah|wheat,19.0,22.7,27.1,29.9,30.6,29.5,28.1,27.9,27.6,26.3,23.3,20.1,12.9,16.5,21.4,25.5,26.9,27.0,26.1,25.8,25.3,23.0,18.4,14.5,25.3,29.0,33.3,35.7,35.4,33.1,31.1,31.0,30.8,30.2,28.5,25.9,12.0,27.0,35.0,63.0,127.0,277.0,365.0,312.0,260.0,135.0,32.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,6.0,9.0,16.0,21.0,21.0,18.0,10.0,2.0,1.0,9.1,9.3,9.7,9.7,8.9,8.7,8.2,7.8,7.8,8.3,8.9,8.8
638797,west bengal,1.0,howrah,uluberia-ii,NaN,NaN,rabi,wheat,NaN,0.2000,56810.0,11362.00,0.9,NaN,NaN,NaN,1582.98,1522.03,2179.77,1604.97,2084.77,715.10,502.04,819.81,866.19,797.49,1151.15,NaN,NaN,NaN,616786,NaN,NaN,west bengal|howrah|uluberia-ii|nan|nan|wheat,west bengal|howrah|wheat,19.0,22.7,27.1,29.9,30.6,29.5,28.1,27.9,27.6,26.3,23.3,20.1,12.9,16.5,21.4,25.5,26.9,27.0,26.1,25.8,25.3,23.0,18.4,14.5,25.3,29.0,33.3,35.7,35.4,33.1,31.1,31.0,30.8,30.2,28.5,25.9,12.0,27.0,35.0,63.0,127.0,277.0,365.0,312.0,260.0,135.0,32.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,6.0,9.0,16.0,21.0,21.0,18.0,10.0,2.0,1.0,9.1,9.3,9.7,9.7,8.9,8.7,8.2,7.8,7.8,8.3,8.9,8.8
638798,west bengal,3.0,purba medinipur,haldia,NaN,NaN,rabi,wheat,NaN,0.7500,38557.0,28917.75,0.9,NaN,NaN,NaN,2136.41,2323.66,2599.19,2432.22,2084.77,1987.31,1417.77,2804.98,2382.03,2518.48,1362.95,NaN,NaN,NaN,616787,NaN,NaN,west bengal|purba medinipur|haldia|nan|nan|wheat,west bengal|purba medinipur|wheat,19.4,23.1,27.3,30.1,30.8,29.8,28.3,28.0,27.7,26.4,23.5,20.3,13.4,17.2,22.0,25.9,27.3,27.2,26.2,25.9,25.5,23.1,18.6,14.7,25.7,29.3,33.4,35.9,35.7,33.3,31.1,31.0,30.7,30.2,28.6,26.1,13.0,28.0,36.0,55.0,111.0,258.0,349.0,308.0,258.0,134.0,36.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,5.0,8.0,15.0,20.0,21.0,18.0,10.0,2.0,1.0,9.0,9.2,9.8,9.8,9.3,9.2,8.5,8.1,8.1,8.4,8.9,8.8
638799,west bengal,3.0,purba medinipur,mohisadal-ii,NaN,NaN,rabi,wheat,NaN,0.7500,38557.0,28917.75,0.9,NaN,NaN,NaN,2136.41,2323.66,2599.19,2432.22,2450.12,1987.31,1417.77,2804.98,2382.03,2518.48,1362.95,NaN,NaN,NaN,616788,NaN,NaN,west bengal|purba medinipur|mohisadal-ii|nan|n...,west bengal|purba medinipur|wheat,19.4,23.1,27.3,30.1,30.8,29.8,28.3,28.0,27.7,26.4,23.5,20.3,13.4,17.2,22.0,25.9,27.3,27.2,26.2,25.9,25.5,23.1,18.6,14.7,25.7,29.3,33.4,35.9,35.7,33.3,31.1,31.0,30.7,30.2,28.6,26.1,13.0,28.0,36.0,55.0,111.0,258.0,349.0,308.0,258.0,134.0,36.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,5.0,8.0,15.0,20.0,21.0,18.0,10.0,2.0,1.0,9.0,9.2,9.8,9.8,9.3,9.2,8.5,8.1,8.1,8.4,8.9,8.8
638800,west bengal,1.0,paschim medinipur,NaN,NaN,NaN,rabi,maize,NaN,24.5200,34580.0,847901.60,0.9,NaN,NaN,NaN,2556.00,2891.00,2450.00,2950.00,2450.12,2569.92,2431.37,2564.58,2623.86,2756.52,2496.65,NaN,NaN,NaN,616789,NaN,NaN,west bengal|paschim medinipur|nan|nan|nan|maize,west bengal|paschim medinipur|maize,18.9,22.9,27.5,30.6,31.3,30.0,28.1,27.8,27.4,26.0,23.0,19.7,12.6,16.3,21.1,25.3,27.0,27.0,25.9,25.5,25.0,22.4,17.8,13.8,25.4,29.5,34.2,37.1,36.8,34.0,31.2,31.1,30.8,30.2,28.4,25.8,14.0,22.0,27.0,46.0,107.0,246.0,329.0,303.0,237.0,122.0,28.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,7.0,9.0,15.0,20.0,21.0,17.0,9.0,2.0,1.0,9.1,9.4,10.2,10.7,10.2,9.6,8.5,7.9,7.9,8.4,9.0,9.0

In [22]:
# Export csv as checkpoint for further preprocessing
df_kharif.to_csv("datasets_preprocessed/df_kharif_preprocessed_checkpoint_3.csv", sep=';')
df_rabi.to_csv("datasets_preprocessed/df_rabi_preprocessed_checkpoint_3.csv", sep=';')